.hansel-pocket {
  width: 100%;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }

.hansel-back {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px;
  font-size: 2em;
  line-height: 2.5em;
  padding: 0 20px;
  position: relative;
  color: black;
  background: white;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  .hansel-back:after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    background: transparent;
    border: 8px solid black;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transform-origin: 4px 8px;
    -moz-transform-origin: 4px 8px;
    -ms-transform-origin: 4px 8px;
    -o-transform-origin: 4px 8px;
    transform-origin: 4px 8px;
    border-color: transparent transparent transparent black;
    top: 18px;
    right: 16px; }
  .hansel-back:hover, .hansel-back.active {
    background: #cccccc; }
  .hansel-back.active:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }
  .hansel-back.active + .hansel-breadcrumbs {
    display: block; }

@media only screen and (max-width: 2560px), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .hansel-breadcrumbs {
    width: 100%;
    display: none;
    background: white;
    position: absolute;
    top: 65px; }
    .hansel-breadcrumbs:before {
      content: "";
      width: 0px;
      height: 0px;
      background: transparent;
      border: 8px solid white;
      border-color: transparent transparent white transparent;
      position: absolute;
      top: -16px;
      right: 20px; }
    .hansel-breadcrumbs a {
      height: 50px;
      display: block;
      color: black;
      font-size: 1.6em;
      line-height: 3.2em;
      padding: 0 20px;
      position: relative; }
      .hansel-breadcrumbs a:after {
        content: "";
        width: 0px;
        height: 3px;
        background: #cccccc;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        position: absolute;
        bottom: 0px;
        left: 0px; }
      .hansel-breadcrumbs a:hover:after {
        width: 100%; } }
