html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* VARIABLES */
/* defaults */
/* defaults end */
/* VARIABLES END */
/* MIXINS */
/* MIXINS END */
/* CLEARFIX */
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

.clearfix-hidden {
  overflow: hidden; }

/* CLEARFIX END */
/* RESETS */
html, body {
  height: 100%; }

body {
  font-family: 'Bitter', serif;
  font-size: 62.5%;
  background: #f4ebdc; }

* {
  outline: none; }

a {
  text-decoration: none; }

/* RESETS END */
/* LAYOUT */
.column {
  width: 1150px;
  margin: 0 auto; }
  .column:not(:first-child) {
    margin: 100px auto; }

.column-six {
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.demo-holder {
  padding: 0 80px; }

/* LAYOUT END */
/* HEADING ANG TEXTS */
h1 {
  font-size: 16em;
  font-weight: bold;
  color: #e62041;
  text-shadow: #cc223e 1px 1px 0, #cc223e 2px 2px 0, #cc223e 3px 3px 0, #cc223e 4px 4px 0, #cc223e 5px 5px 0, #cc223e 6px 6px 0, #cc223e 7px 7px 0, #cc223e 8px 8px 0;
  margin: 60px 0 20px; }
  h1 + p {
    font-size: 4em;
    line-height: 1.2em;
    color: #e62041; }

/* HEADING ANG TEXTS END */
/* BUTTONS AND LINKS */
.btn {
  padding: 6px 10px;
  border: 2px solid;
  font-size: 1.4em;
  cursor: pointer;
  text-align: center;
  color: #ffffff; }

.btn-wide {
  padding: 6px 15px; }

.link-simple {
  text-decoration: none;
  font-size: 1.3em;
  color: #ffffff;
  float: right;
  margin: 12px 12px 0 0; }
  .link-simple:hover {
    text-decoration: underline; }

/* BUTTONS AND LINKS END */
/* BREADCRUMBS */
.breadcrumb {
  float: left; }
  .breadcrumb li {
    float: left;
    margin-right: 15px; }
    .breadcrumb li:first-child a:before {
      display: none; }
  .breadcrumb a {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    height: 50px;
    font-size: 2em;
    line-height: 2.5em;
    padding: 0 20px;
    margin-right: 5px;
    position: relative;
    color: white;
    background: #e62041; }
    .breadcrumb a:before, .breadcrumb a:after {
      position: absolute;
      content: "";
      height: 0px;
      width: 0px;
      top: 0px;
      border-style: solid;
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s; }
    .breadcrumb a:after {
      right: -10px;
      border-width: 25px 0 25px 10px;
      border-color: transparent transparent transparent #e62041; }
    .breadcrumb a:before {
      left: -10px;
      border-width: 25px 0 25px 10px;
      border-color: #e62041 #e62041 #e62041 transparent; }
    .breadcrumb a:hover, .breadcrumb a.active {
      background: #cc223e; }
      .breadcrumb a:hover:after, .breadcrumb a.active:after {
        border-color: transparent transparent transparent #cc223e; }
      .breadcrumb a:hover:before, .breadcrumb a.active:before {
        border-color: #cc223e #cc223e #cc223e transparent; }

/* BREADCRUMBS END */
