html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* VARIABLES */
/* defaults */
/* defaults end */
/* VARIABLES END */
/* MIXINS */
/* MIXINS END */
/* CLEARFIX */
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

.clearfix-hidden {
  overflow: hidden; }

/* CLEARFIX END */
/* RESETS */
html, body {
  height: 100%; }

body {
  font-family: 'Bitter', serif;
  font-size: 62.5%;
  background: #f4ebdc; }

* {
  outline: none; }

a {
  text-decoration: none; }

/* RESETS END */
/* LAYOUT */
.column {
  width: 1150px;
  margin: 0 auto; }
  .column:not(:first-child) {
    margin: 100px auto; }

.column-six {
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.demo-holder {
  padding: 0 80px; }
  .demo-holder .hansel-crumb {
    display: block !important; }
    .demo-holder .hansel-crumb.active + .hansel-breadcrumbs.demo {
      display: block; }
  .demo-holder .hansel-breadcrumbs.demo {
    display: none;
    width: 100%;
    position: absolute;
    top: 65px; }
    .demo-holder .hansel-breadcrumbs.demo:before {
      content: "";
      width: 0px;
      height: 0px;
      background: transparent;
      border-style: solid;
      border-width: 8px;
      border-color: transparent transparent #e62041 transparent;
      position: absolute;
      top: -16px;
      right: 20px; }
    .demo-holder .hansel-breadcrumbs.demo li {
      width: 100%; }
    .demo-holder .hansel-breadcrumbs.demo a {
      height: 50px;
      width: 100%;
      display: block;
      font-size: 2em;
      line-height: 2.5em;
      padding: 0 20px;
      position: relative; }
      .demo-holder .hansel-breadcrumbs.demo a:before, .demo-holder .hansel-breadcrumbs.demo a:after {
        display: none; }

/* LAYOUT END */
/* HEADING ANG TEXTS */
h1 {
  font-size: 16em;
  font-weight: bold;
  color: #e62041;
  text-shadow: #cc223e 1px 1px 0, #cc223e 2px 2px 0, #cc223e 3px 3px 0, #cc223e 4px 4px 0, #cc223e 5px 5px 0, #cc223e 6px 6px 0, #cc223e 7px 7px 0, #cc223e 8px 8px 0;
  margin: 60px 0 20px; }
  h1 + p {
    font-size: 4em;
    line-height: 1.2em;
    color: #e62041; }

.screen-size {
  font-size: 6em;
  font-weight: bold;
  padding: 0 0 50px;
  color: #ead9bd; }

/* HEADING ANG TEXTS END */
/* BUTTONS AND LINKS */
.btn {
  padding: 6px 10px;
  border: 2px solid;
  font-size: 1.4em;
  cursor: pointer;
  text-align: center;
  color: #ffffff; }

.btn-wide {
  padding: 6px 15px; }

.link-simple {
  text-decoration: none;
  font-size: 1.3em;
  color: #ffffff;
  float: right;
  margin: 12px 12px 0 0; }
  .link-simple:hover {
    text-decoration: underline; }

/* BUTTONS AND LINKS END */
