@import "compass/css3";

@mixin hansel-transition {
	@include transition-property(all);
	@include transition-duration(0.3s);
}

$main-color: #E62041;

.hansel-pocket {
	width: 100%;
	display: inline-block;
	@include box-sizing(border-box);
	position: relative;
}

.hansel-crumb {
	display: none;
	width: 100%;
	@include box-sizing(border-box);
	height: 50px;
	font-size: 2em;
	line-height: 2.5em;
	padding: 0 20px;
	position: relative;
	color: black;
	background: darken($main-color, 10%);
	@include hansel-transition;

	&:after {
		position: absolute;
		content: "";
		width: 0px;
		height: 0px;
		background: transparent;
		border: 8px solid black;
		@include hansel-transition;
		@include transform-origin(4px, 8px); // first value must be 1/2 of the border width, the second must be 1/1 of the border width. The ratio should be (1/1, 1/2) if you rotate to 180deg.
		border-color: transparent transparent transparent black;
		top: 18px;
		right: 16px;
	}

	&:hover, &.active {
		background: #ffffff;
	}

	&.active:after {
		@include rotate(90deg);
	}

	&.active + .hansel-breadcrumbs {
		display: block;
	}
}

@media only screen and (max-width: 320px), only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {

	.hansel-crumb {
		display: block;
	}

	.hansel-breadcrumbs {
		width: 100%;
		display: none;
		background: white;
		position: absolute;
		top: 65px;

		&:before {
			content: "";
			width: 0px;
			height: 0px;
			background: transparent;
			border: 8px solid white;
			border-color: transparent transparent white transparent;
			position: absolute;
			top: -16px;
			right: 20px;
		}

		li {
			width: 100%;
		}

		a {
			height: 50px;
			width: 100%;
			display: block;
			color: black;
			font-size: 1.6em;
			line-height: 3.2em;
			padding: 0 20px;
			position: relative;
		}
	}
}