@import "compass/reset";
@import "compass/css3";

/* VARIABLES */
/* defaults */
$default_border_width: 1 !default;
$default_border_color: #dbdcdd;
/* defaults end */

$main_color: #F4EBDC;

$red: #E62041;
$dark_red: #cc223e;

/* VARIABLES END */



/* MIXINS */
@mixin master_transition {
	@include transition-property(all);
	@include transition-duration(0.3s);
}

@mixin sizing {
	@include box-sizing(border-box);
}

$prefixes: ("-webkit-","-moz-", "-o-", "");
@mixin selection($color, $background) {
	@each $prefix in $prefixes {
		::#{$prefix}selection {
			color: $color;
			background: $background;
		}
	}
}

@mixin user-select($select) {
	$select: unquote($select);
	@include experimental(user-select, $select,
		-moz, -webkit, not -o, not -ms, -khtml, official
	);
}
/* MIXINS END */


/* CLEARFIX */
.clearfix {
	zoom:1;
	&:before, &:after {
		content: "\0020"; 
		display: block; 
		height: 0; 
		overflow: hidden; 
	}
	&:after {
		clear: both;
	}
}

.clearfix-hidden {
	overflow: hidden;
}
/* CLEARFIX END */


/* RESETS */
html, body{	
	height:100%;
}

body {
	font-family: 'Bitter', serif;
	font-size: 62.5%;
	background: $main_color;
}

* {
	outline: none;
}

a {
	text-decoration: none;
}
/* RESETS END */

/* LAYOUT */
.column {
	width: 1150px;
	margin: 0 auto;

	&:not(:first-child) {
		margin: 100px auto;
	}
}

.column-six {
	width: 50%;
	float: left;
	@include sizing;
}

.demo-holder {
	padding: 0 80px;

	.hansel-crumb {
		display: block !important;

		&.active + .hansel-breadcrumbs.demo {
			display: block;
		}
	}

	.hansel-breadcrumbs.demo {
		display: none;
		width: 100%;
		position: absolute;
		top: 65px;

		&:before {
			content: "";
			width: 0px;
			height: 0px;
			background: transparent;
			border-style: solid;
			border-width: 8px;
			border-color: transparent transparent $red transparent;
			position: absolute;
			top: -16px;
			right: 20px;
		}

		li {
			width: 100%;
		}

		a {
			height: 50px;
			width: 100%;
			display: block;
			font-size: 2em;
			line-height: 2.5em;
			padding: 0 20px;
			position: relative;

			&:before, &:after {
				display: none;
			}
		}
	}
}
/* LAYOUT END */

/* HEADING ANG TEXTS */
h1 {
	font-size: 16em;
	font-weight: bold;
	color: $red;
	@include text-shadow(rgba(204, 34, 62, 1) 1px 1px 0, 
						rgba(204, 34, 62, 1) 2px 2px 0, 
						rgba(204, 34, 62, 1) 3px 3px 0, 
						rgba(204, 34, 62, 1) 4px 4px 0, 
						rgba(204, 34, 62, 1) 5px 5px 0, 
						rgba(204, 34, 62, 1) 6px 6px 0,
						rgba(204, 34, 62, 1) 7px 7px 0,
						rgba(204, 34, 62, 1) 8px 8px 0);
	margin: 60px 0 20px;

	+ p {
		font-size: 4em;
		line-height: 1.2em;
		color: $red;
	}
}

.screen-size {
	font-size: 6em;
	font-weight: bold;
	padding: 0 0 50px;
	color: darken($main_color, 8);
}
/* HEADING ANG TEXTS END */

/* BUTTONS AND LINKS */
.btn {
	padding: 6px 10px;
	border: 2px solid;
	font-size: 1.4em;
	cursor: pointer;
	text-align: center;
	color: #ffffff;
}

.btn-wide {
	padding: 6px 15px;
}

.link-simple {
	text-decoration: none;
	font-size: 1.3em;
	color: #ffffff;
	float: right;
	margin: 12px 12px 0 0;

	&:hover {
		text-decoration: underline;
	}
}
/* BUTTONS AND LINKS END */