$red: #E62041;

$color: #e62041;
$dark-color: #6E5960;
$light-color: #fcecd2;

.hansel-crumb.theme {
	color: $light-color;
	background: $color;

	&:after {
		border-color: transparent transparent transparent $light-color;
	}

	&:hover, &.active {
		background: $dark-color;
	}
}

@media only screen and (max-width: 2560px), only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {

	.hansel-breadcrumbs.theme {
		background: $color;

		a {
			color: $light-color;

			&:after {
				background: $dark-color;				
			}
		}
	}
}